<div class="d-flex align-items-start flex-column bd-highlight mb-3">
  <div class = "card h-25 w-100 overflow-auto p-1">
    <h1>Questions#edit</h1>
    <div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:#F7DDAF">
      <%= current_user.personnal.name if current_user.personnal %> is filling a questionnaire.
      <p>
        the recipient :  <%= User.find(@occasion.recipient).personnal.name %>..
      </p>
      <p>
        the Questionnaire: ...
      </p>
      <ul>
        <li>
        </li>
      </ul>
      <ul>
        <li>
          <%= simple_form_for @question do |p| %>
            <div class="card h-25 overflow-auto p-1">
                <%# pledge amount ($):
                <input name="pledge" type="number"/> %>
                <%= p.input :pledge_amount,  label: "Pledge Amount ($)", required: true, input_html: {  min: 0, value: if @answer then @answer.pledge_amount  else 0.0 end } %>
                <%= p.input :hobbies, as: :select, collection: @hobbies, selected: if @answer then @answer.hobbies  else nil end %>
                <%= p.input :movies, as: :select, collection: @movies , selected: if @answer then @answer.movies  else nil end%>
                <%= p.input :music, as: :select, collection: @music , selected: if @answer then @answer.music  else nil end%>
                <%= p.input :books, as: :select, collection: @books , selected: if @answer then @answer.books  else nil end%>
                <%= p.input :brands, as: :select, collection: @brands , selected: if @answer then @answer.brands  else nil end%>
                <%= p.input :places, as: :select, collection: @places , selected: if @answer then @answer.places  else nil end%>
                <%= p.input :games, as: :select, collection: @games , selected: if @answer then @answer.games  else nil end%>
                <%= p.input :restaurant, as: :select, collection: @restaurant , selected: if @answer then @answer.restaurant  else nil end%>
                <%= p.input :devices, as: :select, collection: @devices , selected: if @answer then @answer.devices  else nil end %>
                <%= p.input :purchases, as: :select, collection: @purchases , selected: if @answer then @answer.purchases  else nil end%>

              <%# p.input :favorites, as: :check_boxes, collection:@question.favorites %>
              <%# p.input :hobbies, collection: @question.hobbies, as: :check_boxes %>
              <%# p.input :activities, collection: @question.activities, as: :check_boxes %>
              <%# p.input :channels, collection: @question.channels, as: :check_boxes %>
              <%# p.input :favorites, collection:@question.favorites, as: :check_boxes %>
              <%# <% p.input :favorites, collection: @question.favorites.values, as: :grouped_select, group_method: @question.favorites %>
              <%# p.label :favorites, 'Select  favorite movies:'
              p.input :favorites, collection:@movies,as: :check_boxes
              p.label :favorites, 'Select  favorite channels:'
              p.input :favorites, collection:@channels, as: :check_boxes
              p.label :favorites, 'Select  favorite books:'
              p.input :favorites, collection:@books, as: :check_boxes
              p.label :favorites, 'Select  favorite hobbies:'
              p.input :favorites, collection:@hobbies, as: :check_boxes
              p.label :favorites, 'Select  favorite music:'
              p.input :favorites, collection:@music, as: :check_boxes  %>
            <%#  p.input :hobbies, as: :check_boxes, collection:@question.hobbies
              <%= p.button :submit, class: 'btn btn-primary' %>
              <%= p.button :submit, class: 'btn btn-primary' %>
            <% end %>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

