<div class="p-2 w-100 bg-body" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'background_image_id', height: 300, crop: :fill %>'); height:1500px;">

  <!-- Gift Information Card -->
  <div class="card p-2 m-1">
    <h3>Gift Details</h3>
    <ul>
      <li>Title: <%= Gift.find(@occasion.gift).title %></li>
      <li>Organizer: <%= User.find(Myoccasion.find(@occasion.myoccasion_id).user_id).personnal.name %></li>
      <li>Group Member: <%= User.find(@occasion.user_id).personnal.name %></li>
      <li>Recipient: <%= User.find(@occasion.recipient).personnal.name %></li>
      <li>Price: $<%= Gift.find(@occasion.gift).price %></li>
    </ul>
  </div>

  <!-- Questionnaire Section -->
  <div>
    <h1 class="card p-2 m-1">Questionnaire</h1>
    <div class="card h-75 overflow-auto p-2 m-1">
      <p><%= current_user.personnal.name if current_user.personnal %> is completing the questionnaire for <%= User.find(@occasion.recipient).personnal.name %>.</p>

        <div class="card  overflow-auto p-1" style="height: 1000px">
          <%= simple_form_for @question do |p| %>
            <%= p.input :pledge_amount,  label: "Pledge Amount ($)", required: true, input_html: {  min: 0, value: if @answer then @answer.pledge_amount  else 0.0 end } %>
            <%= p.input :hobbies, as: :select, collection: @hobbies, selected: if @answer then @answer.hobbies  else nil end %>
            <%= p.input :movies, as: :select, collection: @movies , selected: if @answer then @answer.movies  else nil end%>
            <%= p.input :music, as: :select, collection: @music , selected: if @answer then @answer.music  else nil end%>
            <%= p.input :books, as: :select, collection: @books , selected: if @answer then @answer.books  else nil end%>
            <%= p.input :brands, as: :select, collection: @brands , selected: if @answer then @answer.brands  else nil end%>
            <%= p.input :places, as: :select, collection: @places , selected: if @answer then @answer.places  else nil end%>
            <%= p.input :games, as: :select, collection: @games , selected: if @answer then @answer.games  else nil end%>
            <%= p.input :restaurant, as: :select, collection: @restaurant , selected: if @answer then @answer.restaurant  else nil end%>
            <%= p.input :devices, as: :select, collection: @devices , selected: if @answer then @answer.devices  else nil end %>
            <%= p.input :purchases, as: :select, collection: @purchases , selected: if @answer then @answer.purchases  else nil end%>
            <%= p.button :submit, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
