<%= form_with url: profile_user_answers_path, method: :post do |f| %>
  <% @questions.each do |q| %>
    <div class="question">
      <p><%= q.content %></p>
      <% q.answers.each do |answer| %>
        <%= f.radio_button :answer_id, answer.id %>
        <%= f.label :answer_id, answer.content, value: answer.id %>
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Submit Answers" %>
<% end %>
