<div class=" p-2 mb-2 py-2">
  <div class = "text-center proposal-text">Great news! Your group has been formed on GiftGenius. Time to bring the celebration to life! &nbsp;&nbsp;&nbsp;🎈</div>
  <!-- Notifications / Open space area -->
  <% myoccasion=Myoccasion.find(params[:myoccasion_id]) %>
  <div class="card-trip-home border-0">
    <% if Gift.find(myoccasion.gift).title != "" %>
      <%= image_tag "occasion/#{Gift.find(myoccasion.gift).title}.jpg", alt: "",class: "image" %>
    <% else %>
      <%= image_tag "occasion/occasion.jpg", alt: "",class: "image" %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2 style="text-align: left;font-size:1em"> Get Ready to Celebrate: </h2>
        <div style="text-align: left;font-size:.9em"><%= User.find(myoccasion.recipient).personnal.name %>'s <% if Gift.find(myoccasion.gift).title %> <%= Gift.find(myoccasion.gift).title %> is Coming Up!</>
        <% end %>
      </div>
      <%   recipient = User.includes(:personnal).find(myoccasion.recipient).personnal %>
      <%= image_tag recipient.info['picture'], alt: "",class: "card-trip-user avatar-home" %>
    </div>
    <!-- option on -->
  </div>
</div>
</div>
<!-- Notifications / Open space area -->
<div class="proposal-text text-center p-2 mt-3">🌟 Let's make <%= recipient.name %>'s experience unforgettable! Take a moment to fill in some details about him/her.</div>
<ul class="btn-group list-group text-center" style="background: none">
  <% myoccasion.occasions.each do |o| %>
    <% if o.user_id == current_user.id %>
      <li class="list-group-item p-0  my-4"style="background: none;padding:0px;border:0px">
        <%= link_to  "Questionnaire",edit_occasion_question_path(o,o.question) ,class: "btn btn-gradiant-pink"  %>
        <!-- option end -->
      </li>
    <% end %>
  <% end %>
</ul>
<!-- Notifications / Open space area -->
</div>
</div>
