<div class="p-2 bd-highlight text-dark w-100" style="height:650px;padding:-10px;background-color:#E1F2FC;color:white">
  <h1>Confirmation page for Myoccasion:</h1>
  <hr>
  <br>
  <h3>Congratulation GiftGenius has accepted your request.🥳</h3>
  <br>
  <hr>
  <h5>Do you want to give some information about <strong><%= User.find(@myoccasion.recipient).personnal.name %> </strong>?</h5>
  <h2>as Member</h2>
  <ul>
    <%= @myoccasion.id %>
    <% @occasions.each do |o| %>
      <% if o.recipient == @myoccasion.recipient &&  @myoccasion.id==o.myoccasion.id %>
        <li>
          <%= o.id %>|  <%= o.myoccasion.id %>|<%= o.recipient%>
          recipient: <%= User.find(o.recipient).personnal.name %><br>
          <%= link_to "see Group details", occasion_path(o),class: "btn btn-dark"  %>
        <% end %>  </li>
    <% end %>
  </ul>
</div>
<%= link_to "Skip to groups", myoccasions_path,class: "btn btn-dark" %>
