<<<<<<< HEAD
<div class="p-2 w-100" style="height:680px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'e989fd2b0040ce13ddab2f9b98075435', height: 300, crop: :fill %>')">
  <div class=" p-2">
    <div class="card p-2 mb-2">
      <h4>Creating a group for this unique Occasion!</h4>
    </div>
    <!-- card separation -->
    <div class="card-product my-4 rounded-1">
      <% if @myoccasion.photo.present? %>
        <%= cl_image_tag @myoccasion.photo.key, height: 90, width: 90, crop: :fill,  class: ""%>
      <% end %>
      <div class="card-product-infos">
        <p></p>
        <h3><strong>   <%=  User.find(@myoccasion.recipient).personnal.name %></strong></h3>
      </div>
    </div>
    <!--end notification avatar -->
    <div class="card-trip my-4">
      <div class="card-trip-infos">
        <%= simple_form_for [@myoccasion,@gift] do |f| %>
          <%= f.input :occasion, collection: Gift.occasions.keys, prompt: 'Select an Occasion' %>
          <%# <%= f.input :relationship %>
          <%# <%= f.input :description %>
          <div class="price-range-container">
            <span class="price-value">$0</span>
            <%= f.input :price, as: :range, input_html: { class: 'form-control-range', in: 0..1000 } %>
            <span class="price-value">$1000</span>
          </div>
          <%# <span id="price-range-value">Selected Price Range: $<span id="selected-value">10..1000 </span></span> %>
          <%# <%= f.input :price %>
          <div class="btn-group">
            <%= link_to 'Back', new_myoccasion_path(@myoccasion),class: "btn btn-gradient col-6 m-1" %>
            <%= f.button :submit,class: "btn btn-success btn-gradient col-6 m-1"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  .price-range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price-value {
    flex: 0 0 auto; /* This ensures the values don't grow or shrink */
    margin: 0 0px; /* Adjust the margin as needed */
  }
  /* Adjust the width of the slider */
  .form-control-range {
    width: 100%; /* Set the desired width */
  }
</style>
=======
<div class="p-2 bd-highlight text-dark w-100" style="height:650px;padding:-10px;background-color:#E1F2FC;color:white">
<h1>Myoccassions#gift</h1>

<% if @myoccasion.photo.present? %>
  <%= cl_image_tag @myoccasion.photo.key, height: 90, width: 90, crop: :fill,  class: "rounded-circle"%>
<% else %>
  <p>No picture available for the gift.</p>
<% end %>
<%=  User.find(@myoccasion.recipient).personnal.name %>
<hr>


<%= simple_form_for [@myoccasion,@gift] do |f| %>
  <%= f.input :title, collection: Gift.occasions.keys, prompt: 'Select an Occasion'%>


  <%= f.input :price, as: :hidden, input_html: { id: "gift_price" } %>
  <div class="price-range-container" data-controller="custom-range">
<span data-custom-range-target="minPrice">0</span>
    <input type="range" class="form-control-range" id="priceRange-container" min="0" max="1000" step="1"
           data-action="input->custom-range#rangeUpdate"
           data-custom-range-target="range">
        <span data-custom-range-target="maxPrice">1000</span>
    </div>


  <div class = "d-flex justify-content-between">
    <%= link_to 'Back', new_myoccasion_path(@myoccasion), class: "btn btn-dark " %>
    <%= f.button :submit, class: "btn btn-dark"%>
    <% end %>
  </div>
</div>
>>>>>>> 7f683b0e3c6d96f7a5fe8980db7bb82253f2641b
