<div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:#F2A59E;color:white">
  <h1>Gift genius Dashboard </h1>
  <h2>As Creator</h2>
  <% @myoccasions.each do |g| %>
    <div class="card-trip">
      <% if Gift.find(g.gift) %>
        <%= image_tag "occasion/#{@gift.title}.jpg", alt: "",class: "avatar-square" %>
      <% end %>
      <div class="card-trip-infos">
        <div>
        </div>
        <% if g.recipient %>
          <%= image_tag User.find(g.recipient).personnal.info['picture'], alt: "",class: "card-trip-user avatar-square" %>
        <% end %>
      </div>
      <% if g.recipient %>
        recipient: <%= User.find(g.recipient).personnal.name %><br>
        <%= link_to "Group details", myoccasion_path(g),class: "btn btn-gradient"  %>
        <%= link_to "go to genius results", proposals_path,class: "btn btn-dark" %>
      </li>
    <% end %>
  </div>
<% end %>
<hr>
<h2>Questionnaires</h2>
<ul class="list-group">
  <% @occasions.each do |occasion| %>
    <li class="list-group-item list-group-flush">
      <% if occasion.recipient %>
        recipient: <%= User.find(occasion.recipient).personnal.name %>
        <p>
          <% if  occasion.proposal %>
            <%= link_to "GiftGenius", proposal_path(occasion.proposal.id) ,class: "btn btn-sm btn-gradient" %>
          <% end %>
          <%= link_to "Recipient profile", occasion_path(occasion),class: "btn btn-sm btn-gradient"  %></p>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
