<div class="py-4" style="height:vh-100;background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path 'e989fd2b0040ce13ddab2f9b98075435', height: 300, crop: :fill %>')">
  <div class="p-1">
    <div class="card-trip p-2 m-1">
      <h2 class="text-center">Group List</h2>
      <div class="h-50 overflow-auto" style="height:300px">
        <div data-controller="your-controller-name">
          <%= simple_form_for @myoccasion do |f| %>
            <%= f.input :recipient, collection: @mycontacts, input_html: { class: 'form-control mb-2' } %>
            <%# f.input :photo, as: :file, input_html: { class: 'form-control mb-2' } %>
            <div class="icon-and-label text-center" onclick="toggleContactList();" style="cursor: pointer;">
              <i class="fa-solid fa-user fa-lg"></i>
              <h4>Contacts</h4>
            </div>
            <!-- Toggleable contact list -->
            <div id="contactList" class="checkbox-group" style="display: none;">
              <%= f.input :groups, as: :check_boxes, collection: @mycontacts, label_method: :name, value_method: :id, label: false, item_wrapper_class: 'form-check' %>
            </div>
            <%= f.button :submit, 'Submit', class: 'btn btn-gradient mt-2'%>
          <% end %>
        </div>
      </div>
    </div>
    <div data-controller="alert" data-alert-url-value="/messages">
    </div>
    <script>
      // Function to toggle the contact list visibility
      function toggleContactList() {
        var contactList = document.getElementById('contactList');
        contactList.style.display = contactList.style.display === 'none' ? 'block' : 'none';
      }
    </script>
  </div>
</div>
</div>
