<div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:#F2A59E;color:white">
  <h1>Groups#index</h1>
  <p>Find me in app/views/groups/index.html.erb</p>
  <% @occasions.each do |g| %>
  <div class="container mt-3 border p-3 bg-light">
        <div class= "text-dark"><%= g.user_contact.contact.user.personnal.name %></div>
        <div class= "text-dark mb-2"><%= g.occasion_name %></div>
      <div class="d-flex justify-content-between">
        <%= link_to "See Group details", group_path(g), class: "btn btn-dark " %>
        <%= link_to "Go to genius results", proposals_path, class: "btn btn-dark" %>
      </div>
  </div>
<% end %>

  <%# occasion: <%= current_user.user_contact.personnal%>
</div>
<br>
<br>
<%# <ul> %>
  <%# @groups.each do |group| %>
    <%# <div> %>
      <%# <li>= group.name</li> %>
    <%# </div> %>
    <%# end %>
  <%# </ul> %>
