<div class="p-2 bd-highlight w-100" style="height:100px;padding:-10px;background-color:#E1F2FC;color:white">
  <h1>Groups#new</h1>
  <p>Find me in app/views/groups/new.html.erb</p>
  <p class = "text-dark"><%= current_user.personnal.name if current_user %> My contacts aka friends</p>
  <hr>
  <input class="input w-100" value="select a recipient for the occasion" />
  <hr>

  <%= form_with(model: @group_member, url: groups_gift_path, method: :post, data: {turbo: false}) do |form| %>
  <h4 class="mb-2">Select the members of the group</h4>
  <ul class="list list-group list-flush">
    <% if current_user && !current_user.user_contacts.empty? %>
      <% current_user.user_contacts.each do |c| %>
        <li class="list-group-item">
          <%= form.check_box :user_contact_ids, { multiple: true }, c.contact.user.id, nil %>
          <%= c.contact.user.personnal.name %>
          <%= c.contact.user.personnal.birthday %>
        </li>
      <% end %>
    <% end %>
  </ul>

<br>

<div class = "d-flex justify-content-between">
  <%= link_to "cancel", root_path,class: "btn btn-dark "  %>
  <%= form.submit 'Next page', class: 'btn btn-dark ', type: 'submit' %>
</div>
<% end %>

  <%# <h4 class="mb-2">select the member of the group</h4>
  <ul class="list list-group list-flush">
    <% if current_user %>

      <%# <% unless current_user.user_contacts.empty? %>
        <%# <% current_user.user_contacts.each do |c| %>
          <%# <li class="list-group-item"> %>
            <%# /<%= c.contact.user.personnal.name  %>
            <%# <%= c.contact.user.personnal.birthday %>
          <%# </li> %>
        <%# <% end %>
      <%# <% end %>
      <%# <% end %>
  <%# </ul> %>

<div class="btn-group  m-2">
  <%# <%= link_to "cancel", root_path,class: "btn btn-dark w-50"  %>
  <%# simple_form_for  @group do |f| %>
    <%#  <%= f.input :name %>
    <%# <%= f.input :members, collection: @your_collection, input_html: { multiple: true } %>
    <%# f.button :submit, "Next", class: "btn btn-primary" %>
    <%# end %>
    <%# <%= link_to "Next", groups_gift_path,class: "btn btn-dark w-50"  %>
  </div>

      <% unless current_user.user_contacts.empty? %>
        <% current_user.user_contacts.each do |c| %>
          <li class="list-group-item">
            <%= c.contact.user.id %>
            <%= c.contact.user.personnal.name  %>
            <%= c.contact.user.personnal.birthday %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <div class="btn-group  m-2">
    <%= link_to "cancel", root_path,class: "btn btn-dark w-50"  %>
    <%# simple_form_for  @group do |f| %>
      <%#  <%= f.input :name %>
      <%# <%= f.input :members, collection: @your_collection, input_html: { multiple: true } %>
      <%# f.button :submit, "Next", class: "btn btn-primary" %>
      <%# end %>
      <%= link_to "Next", groups_gift_path,class: "btn btn-dark w-50"  %>
    </div>

