<h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p>
<%= @occasion.id %>
<%= @occasion.occasion_name %>
<ul>
  <% @occasion.group_members.each do |g| %>
    <li>
      <%= g.user_contact.contact.user.personnal.name %>
    </li>
  <% end %>
</ul>
<%= link_to "back to groups", groups_path,class: "btn btn-dark" %>
<%= link_to "go to genius results", proposals_path,class: "btn btn-dark" %>
