<div class="d-flex align-items-start flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:#244861;color:white">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h2>
      Welcome back,   <%= current_user.personnal.name if current_user %></h2>
    <p>Some upcoming birthday!</p>
    <ul class="list list-group list-flush">
      <% if current_user %>
        <% unless current_user.contacts.empty? %>
          <% current_user.contacts.sample(2).each do |c| %>
            <li class="list-group-item">
              <%= User.find(c.contact_id).personnal.name  %>
              <%= User.find(c.contact_id).personnal.birthday  %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <br>
    <%= link_to "Go to genius results", proposals_path,class: "btn btn-dark" %>
  </div>
  <div class="btn-group  m-2">
    <%= link_to "Create group", new_group_path, class: 'btn btn-dark  p-2' %>
    <%# link_to "Create Group", new_group_path(@group),class: "btn btn-dark"  %>
  </div>
</div>
