<!-- New home page -->
<div class="p-1" >
  <div class="card border-0 ">
    <%# <h2 class="">Gift Genius</h2> %>
    <% if current_user %>
      <div class="parent  pb-4" >
        <div class="parent">
          <%= image_tag current_user.personnal.info['picture'], class: "avatar-bordered2 " %>
        </div>
        <div class="welcome-container text-center"style="z-index: 1;">
          <h5 class="my-2 welcome"">
            Welcome back, <%= current_user.personnal.name if current_user.personnal %></h5>
        </div>
      </div>
    <% end %>
    <!-- Gift Occasion / Open space area -->
    <div class="card border-0  p-2 m-0" style="">
      <!-- if not logged in-->
      <div class="p-2 m-0" >
        <% unless current_user  %>
          <%= image_tag "option1.png", alt: "",width: 360,class: "text-center mt-5" %>
          <h1 class="text-center" style="font-family:'Kaushan Script'">Need some help with organizing gifts?</h1>
        <% end %>
        <% if current_user  %>
          <% if  @myoccasions.count == 0 && @occasions.count == 0  %>
            <%= image_tag "option1.png", alt: "",width: 360,class: "text-center " %>
            <h1 class="text-center" style="font-family:'Kaushan Script'">Need some help with organizing gifts?</h1>
          <% end %>
        <% end %>
      </div>
      <!-- end if not logged in-->
      <!-- MyOccasions-->
      <!-- card separation -->
      <% if current_user %>
        <h4><strong></strong></h4>
        <div class="">
          <!--begin iteration on myoccasions-->
          <% @myoccasions.each do |myoccasion| %>
            <div class="card-trip-home ">
              <% if myoccasion.gift.nil? %>
                <%= image_tag "occasion/occasion.jpg", alt: "",class: "image" %>
              <% else %>
                <%= image_tag "occasion/#{Gift.find(myoccasion.gift).title}.jpg", alt: "",class: "image" %>
              <% end %>
              <!--Link to Group members -->
              <%= link_to myoccasion_path(myoccasion), class: 'icon-trip-group' do %>
                <i class="fa-solid fas fa-users"></i>
                <span></span>
              <% end %>
              <!--Link to Questions --><%# myoccasion.id %>
              <% myoccasion.occasions.each do |o| %>
                <!-- this is the loop -->
                <% if o.user_id == current_user.id %>
                  <!-- keep only one -->
                  <% if !o.selected %>
                    <%= link_to edit_occasion_question_path(o,o.question) , class: 'icon-trip-question' do %>
                      <!-- link  -->
                      <% if  !o.status %>
                        <i class="fas fa-file-lines fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
                      <% else %>
                        <i class="fas fa-file-lines"></i>
                      <% end %>
                      <span></span>
                      <!-- link  -->
                    <% end %>
                  <% end %>
                  <!-- keep only one -->
                <% end %>
                <!-- this is the loop -->
              <% end %>
              <!--Link to Gift -->
              <% myoccasion.occasions.each do |o| %>
                <!-- this is the loop -->
                <% if o.user_id == current_user.id %>
                  <!-- keep only one -->
                  <!--selection done-->
                  <% if o.selected %>
                    <!-- no proposal -->
                    <% s = o.selection %>
                    <%= link_to  proposal_product_confirmation_path(s['proposal'],s['product']), class: "icon-trip-gift-end" do %>
                      <i class="fas fa-gifts fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
                    <% end %>
                  <% end %>
                  <!-- no proposal -->
                  <% unless o.proposal.nil? || o.selected %>
                    <!-- no proposal -->
                    <%= link_to proposal_path(o.proposal.id) , class: 'icon-trip-gift' do %>
                      <% if o.status %>
                        <i class="fas fa-gifts fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
                      <% else %>
                        <i class="fas fa-gifts"></i>
                      <% end %>
                      <span></span>
                    <% end %>
                    <!-- no proposal -->
                  <% end %>
                  <!-- keep only one -->
                <% end %>
                <!-- this is the loop -->
              <% end %>
              <!-- My occasion info-->
              <div class="card-trip-infos">
                <div>
                  <h2 style="text-align: left;font-size:1em"> Get Ready to Celebrate: </h2>
                  <div style="text-align: left;font-size:.9em">
                    <% unless myoccasion.recipient.nil? %>
                      <%= User.find(myoccasion.recipient).personnal.name %>'s 
                    <% end %>
                    <% if myoccasion.gift.nil? %>
                      party is comming up
                    <% else %>
                      <%= Gift.find(myoccasion.gift).title %> is Coming Up!</>
                  <% end %>
                </div>
                <% unless myoccasion.recipient.nil? %>
                  <%   recipient = User.includes(:personnal).find(myoccasion.recipient) %>
                  <%= image_tag recipient.personnal.info['picture'], alt: "",class: "card-trip-user avatar-home" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!--end iteration on myoccasions-->
      <% end %>
    </div>
  </div>
</div>
<!-- End  MyOccasions-->
</div>
<!-- Occasions-->
<div class="cards px-3">
  <% if current_user %>
    <% @occasions.each do |occasion| %>
      <!-- cards separation-->
      <div class="card-trip-home card-trip-half">
        <% if Gift.find(occasion.gift).title != "" %>
          <%= image_tag "occasion/#{Gift.find(occasion.gift).title}.jpg" , alt: "" ,class: "image" %>
        <% else %>
          <%= image_tag "occasion/occasion.jpg", alt: "",class: "image" %>
        <% end %>
        <!--Link to Questions -->
        <% if  !occasion.selected %>
          <%= link_to edit_occasion_question_path(occasion,occasion.question) , class: 'icon-trip-question-half' do %>
            <% if  !occasion.status %>
              <i class="fas fa-file-lines fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
            <% else %>
              <i class="fas fa-file-lines"></i>
            <% end %>
            <span></span>
          <% end %>
        <% end %>
        <!--Link to Gift -->
        <!-- no proposal -->
        <% if occasion.selected %>
          <% s = occasion.selection %>
          <%= link_to  proposal_product_confirmation_path(s['proposal'],s['product']), class: "icon-trip-gift-end" do %>
            <i class="fas fa-gifts fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
          <% end %>
        <% end %>
        <!-- no proposal -->
        <% unless occasion.proposal.nil? || occasion.selected %>
          <!--No proposal -->
          <%= link_to proposal_path(occasion.proposal.id) , class: 'icon-trip-gift-half' do
                                            %>
          <% if occasion.status %>
            <i class="fas fa-gifts fa-beat" style="--fa-beat-scale: 1.35;--fa-animation-duration: 3s;"></i>
          <% else %>
            <i class="fas fa-gifts"></i>
          <% end %>
          <span></span>
        <% end %>
        <!--No proposal -->
      <% end %>
      <!-- My occasion info-->
      <div class="card-trip-infos border-0">
        <div>
          <h2 style="text-align: left;font-size:1em">Member of:
          </h2>
          <div style="text-align: left;font-size:.9em">
            <% recipient=User.includes(:personnal).find(occasion.recipient) %>
            <% if Gift.find(occasion.gift).title %>
              <%= recipient.personnal.name %>' <%= Gift.find(occasion.gift).title %>  </>
          <% end %>
        </div>
      </div>
      <% recipient=User.includes(:personnal).find(occasion.recipient) %>
      <%= image_tag recipient.personnal.info['picture'], alt: "" ,class: "card-trip-user avatar-home" %>
    </div>
  </div>
  <!-- cards separation-->
<% end %>
<% end %>
</div>
<!-- Occasions-->
