<div class=" p-1 mx-2 text-center">
  <div class="proposal-text">Thanks to everyone's input, we've chosen the perfect gift!
  </div>
  <!--   product card-->
  <div class="card-trip-home" style="box-shadow:0px 0px 0px white;">
    <% myoccasion = @myoccasion %>
    <% if Gift.find(myoccasion.gift).title != "" %>
      <%= image_tag "occasion/#{Gift.find(myoccasion.gift).title}.jpg", alt: "",class: "image" %>
    <% else %>
      <%= image_tag "occasion/occasion.jpg", alt: "",class: "image" %>
    <% end %>
    <!--Link to Group members -->
    <% link_to myoccasion_path(myoccasion), class: 'card-trip-group' do %>
      <i class="fa-solid fas fa-users"></i>
      <span></span>
    <% end %>
    <!-- My occasion info-->
    <div class="card-trip-infos">
      <div style="text-align: left;font-size:.9em pt-2"><%= User.find(myoccasion.recipient).personnal.name %>'s <% if Gift.find(myoccasion.gift).title %> <%= Gift.find(myoccasion.gift).title %>
        <% end %>
      </div>
      <%   recipient = User.includes(:personnal).find(myoccasion.recipient) %>
      <%= image_tag recipient.personnal.info['picture'], alt: "",class: "card-trip-user avatar-home" %>
    </div>
    <!--  end product card -->
  </div>
  <% product = @product %>
  <div class="card-product mx-1 m-0" style="box-shadow:0px 0px 0px white;border: 1px solid grey;border-radius:20px;">
    <% if product.url %>
      <%= image_tag product.url, alt: "Product image", class: "card-product-proposal-infos rounded-2" %>
    <% end %>
    <div class="card-product-infos">
      <p ><strong></strong><%= product.title %></p>
    </div>
  </div>
  <!--   -->
  <!--   -->
  <!-- all his friends  -->
  <div class="d-flex row justify-content-center align-content-center me-3 p-2">
    <div class="proposal-text">From all your friends!
    </div>
    <% @friends.each do |friend| %>
      <dir class="col-2">
        <% if friend.info != nil  %>
          <%= image_tag friend.info['picture'], alt: "",class: "avatar-confirmation" %>
        <% else %>
          <%= image_tag 'option2.png', alt: "",class: "avatar-confirmation" %>
        <% end %>
      </dir>
    <% end %>
  </div>
  <!-- end of friend  -->
  <% if  @showconfirm  %>
    <%= link_to "Confirm", root_path,class: "btn btn-gradiant-pink" %>
  <% end %>
</div>
