<!-- New  page -->
<div class="card border-0 p-2 m-0">
  <% if current_user %>
    <div class="proposal-text text-center">
      <p> <%= Gift.find( @myoccasion.gift).title %> of <%=User.find(@myoccasion.recipient).personnal.name %></p>
    </div>
  <% end %>
</div>
<!-- Notifications / Open space area -->
<div id="Products">
  <div data-controller="sortable">
    <ul data-controller="sortable" class="list-group list-group-proposal" >
      <% @products.each_with_index do |product, index| %>
        <li data-sortable-id="<%= product.id %>" data-sortable-group-value="tasks"  data-sortable-update-url="<%= sort_product_path(product) %>" class="list-group-item .list-group-proposal border-0" style="background:none;">
          <div class="card-product-proposal mt-4 form-image-card p-2" style="overflow:hide;border-radius:10px"><%= link_to  proposal_product_path(product) do %>
              <span class="position-indicator"><%= index + 1 %>
              </span>
              <% if product.description %>
                <span class="user-indicator"><%= product.description.scan(/\S+|\s{2,}/).first %>'s choice</span>
              <% end %>
              <% if product.url %>
                <%= image_tag product.url, alt: "Product image", class: "card-product-proposal-infos form-image-card form-image " %>
              <% else %>
                <%= image_tag 'option1.png', alt: "Product image", class: "card-product-proposal-infos form-image-card form-image" %>
              <% end %>
            <% end %>
            <div class="card-product-infos">
              <p ><strong></strong><%= product.title %></p>
              <small><%= product.price %></small>$.
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <!--end notification occasions -->
  <!-- navigation buttons -->
</div>
