<div class="p-1" style="height:vh-100;background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path 'e989fd2b0040ce13ddab2f9b98075435', height: 300, crop: :fill %>')">
  <div class="">
    <div class=" p-2 m-2 text-left">
      <h4>
        <span class="small-text">Thanks to everyone's input, we've chosen the perfect gift!</span>
      </h4>
      <!-- Notifications / Open space area -->
      <div class="card-trip product-img" >
        <%= image_tag  @product.url, alt: "",class: "" %>
        <div class="card-trip-infos">
          <div>
            <h2></h2>
            <p style="font-size:12"><%= @product.title %></p>
          </div>
        </div>
      </div>
      <!-- card separation -->
      <div class="card-trip p-2 m-0 text-left">
        <%= @product.info %>
      </div>
    </div>
    <!-- end navigation buttons -->
    <%= link_to  proposal_path, class: " mx-2 p-2" do %>
      <i class="fa-solid fa-square-caret-left" style="font-size:2em;text-shadow:1px 1px 3px black"></i>
    <% end %>
  </div>
</div>
