<div class=" p-2 m-2 text-center">
  <!-- Notifications / Open space area -->
  <div class="card-trip-product  product-img">
    <%= image_tag  @product.url,class: "" %>
    <div class="card-trip-infos">
      <div>
        <h2></h2>
        <p style="font-size:12"><%= @product.title %></p>
      </div>
    </div>
  </div>
  <!-- card separation -->
  <div class="card-trip p-2 m-0 text-left ">
    <%= @product.info %>
  </div>
</div>
<!-- end navigation buttons -->
<div class="row d-flex ">
  <div class="col-6" style="text-align:start">
    <%= link_to  proposal_path, class: " mx-2 p-2" do %>
      <i class="fa-solid fa-square-caret-left" style="font-size:2em;text-shadow:1px 1px 3px black"></i>
    <% end %>
  </div>
  <div class="col-6" style="text-align:end">
    <% simple_form_for @product do |f| %>
      <%= f.input :selected %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to  proposal_product_confirmation_path(@product.proposal_id,@product.id), class: " mx-2 p-2" do %>
      <i class="fa-solid fas fa-thumbs-up" style="font-size:2em;text-shadow:1px 1px 3px black"></i>
    <% end %>
  </div>
</div>
