<!DOCTYPE html>
<html>
  <head>
    <title>RailsGiftGenius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
<<<<<<< HEAD
    <%= render "shared/footer" %>
=======

>>>>>>> 7f683b0e3c6d96f7a5fe8980db7bb82253f2641b
  </body>
</html>
